<div id="static">
  <h2>Bookmarklet</h2>
  <h3>什么是VISEBuy的bookmarklet？</h3>
  <p>这个书签可以让你搜索到相关产品的其他网站上的图像。</p>
  <h3>我该如何安装呢？</h3>
  <p>你只需要拖动<a href="javascript:(function()%20{var%20d%20=%20document,e%20=%20d.images;if%20(d.readyState%20==%20%27complete%27)%20{for%20(var%20i%20=%200;%20e[i];%20i++)%20{var%20a%20=%20d.createElement(%27a%27);a.title%20=%20%22%E6%90%9C%E7%B4%A2%E7%9B%B8%E5%85%B3%E5%9B%BE%E7%89%87%22;a.innerHTML%20=%20a.title;a.href%20=%20%22http://msm.cais.ntu.edu.sg/visebuy/search/create?q=%22%20+%20e[i].src;e[i].parentNode.appendChild(a);}}%20else%20{alert(%22%E8%AF%B7%E7%AD%89%E5%BE%85%E9%A1%B5%E9%9D%A2%E5%AE%8C%E6%88%90%E5%8A%A0%E8%BD%BD%E3%80%82%22);}})();">搜索相关图片</a>到你的书签栏。下一次，你是另一页上，只需按下此书签会显示文字“搜索相关图片"，让您搜索图片。</p>
</div>