<div id="static">
<h2>免责声明</h2>
<p>VISEBUY提醒您：在使用VISEBUY搜索引擎前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用VISEBUY搜索引擎，如果您选择使用，您的使用行为将被视为对本声明全部内容的认可。</p>
<ul>
<li>鉴于VISEBUY搜索引擎以非人工检索方式、根据您键入的关键字或图片自动生成到第三方网页的链接，相关内容来自搜索结果所链 接到的第三方网站，VISEBUY不对第三方网页中内容之合法性、准确性、真实性、适用性、安全性负责，对于您可能从该第三方网页上获得的资讯及享用的服务，请审 慎辨别和选择，一淘网将不承担任何法律责任。</li>
<li>任何通过使用VISEBUY搜索而链接到的第三方网页均系他人制作或提供，不反映VISEBUY之任何意见或主张，也不表示VISEBUY同意或支持该等第三方网页上的任何内容、主张或立场。</li>
<li>除与VISEBUY有另行书面约定的服务外，您应该对使用VISEBUY搜索引擎的结果自行承担风险，一切因使用VISEBUY搜索引擎而可能遭致的意外、侵权及其他损失（包括下载被搜索链接到的第三方网页中的内容被感染电脑病毒等），VISEBUY网对其概不负责，亦不承担任何法律责任。</li>
<li>对于VISEBUY搜索引擎，VISEBUY网不做任何形式的保证：不保证搜索结果满足您的要求，不保证搜索服务不中断等。因网络状况、通讯线路、电力故障、第三方网站等任何原因而导致您不能正常使用VISEBUY网，VISEBUY网不承担任何法律责任。</li>
<li>VISEBUY网尊重并保护所有使用VISEBUY网服务的用户的个人隐私权，详情请参隐私权政策。</li>
<li>任何单位或个人认为通过VISEBUY搜索链接到的第三方网页内容可能涉嫌侵犯其信息网络传播权，应该及时向VISEBUY网提出书面权利通知，并提供身份证明、权属证明及详细侵权情况证明。VISEBUY网在收到上述法律文件后，将会依法尽快断开相关链接内容。</li>
</ul></div>
